WSDL/EmpruntService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.webservice.ocp4.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.webservice.ocp4.com/" name="EmpruntService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.webservice.ocp4.com/" schemaLocation="http://localhost:8085/bibliotheque-webservice/EmpruntService?xsd=1"/>
</xsd:schema>
</types>
<message name="EnCoursPourExemplaire">
<part name="parameters" element="tns:EnCoursPourExemplaire"/>
</message>
<message name="EnCoursPourExemplaireResponse">
<part name="parameters" element="tns:EnCoursPourExemplaireResponse"/>
</message>
<message name="listerEnCoursParUsager">
<part name="parameters" element="tns:listerEnCoursParUsager"/>
</message>
<message name="listerEnCoursParUsagerResponse">
<part name="parameters" element="tns:listerEnCoursParUsagerResponse"/>
</message>
<message name="listerNonRendusParUsager">
<part name="parameters" element="tns:listerNonRendusParUsager"/>
</message>
<message name="listerNonRendusParUsagerResponse">
<part name="parameters" element="tns:listerNonRendusParUsagerResponse"/>
</message>
<message name="trouverEmprunt">
<part name="parameters" element="tns:trouverEmprunt"/>
</message>
<message name="trouverEmpruntResponse">
<part name="parameters" element="tns:trouverEmpruntResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="listerNonRendus">
<part name="parameters" element="tns:listerNonRendus"/>
</message>
<message name="listerNonRendusResponse">
<part name="parameters" element="tns:listerNonRendusResponse"/>
</message>
<message name="prolonger">
<part name="parameters" element="tns:prolonger"/>
</message>
<message name="prolongerResponse">
<part name="parameters" element="tns:prolongerResponse"/>
</message>
<portType name="EmpruntService">
<operation name="EnCoursPourExemplaire">
<input wsam:Action="http://services.webservice.ocp4.com/EmpruntService/EnCoursPourExemplaireRequest" message="tns:EnCoursPourExemplaire"/>
<output wsam:Action="http://services.webservice.ocp4.com/EmpruntService/EnCoursPourExemplaireResponse" message="tns:EnCoursPourExemplaireResponse"/>
</operation>
<operation name="listerEnCoursParUsager">
<input wsam:Action="http://services.webservice.ocp4.com/EmpruntService/listerEnCoursParUsagerRequest" message="tns:listerEnCoursParUsager"/>
<output wsam:Action="http://services.webservice.ocp4.com/EmpruntService/listerEnCoursParUsagerResponse" message="tns:listerEnCoursParUsagerResponse"/>
</operation>
<operation name="listerNonRendusParUsager">
<input wsam:Action="http://services.webservice.ocp4.com/EmpruntService/listerNonRendusParUsagerRequest" message="tns:listerNonRendusParUsager"/>
<output wsam:Action="http://services.webservice.ocp4.com/EmpruntService/listerNonRendusParUsagerResponse" message="tns:listerNonRendusParUsagerResponse"/>
</operation>
<operation name="trouverEmprunt">
<input wsam:Action="http://services.webservice.ocp4.com/EmpruntService/trouverEmpruntRequest" message="tns:trouverEmprunt"/>
<output wsam:Action="http://services.webservice.ocp4.com/EmpruntService/trouverEmpruntResponse" message="tns:trouverEmpruntResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services.webservice.ocp4.com/EmpruntService/trouverEmprunt/Fault/ParseException"/>
</operation>
<operation name="listerNonRendus">
<input wsam:Action="http://services.webservice.ocp4.com/EmpruntService/listerNonRendusRequest" message="tns:listerNonRendus"/>
<output wsam:Action="http://services.webservice.ocp4.com/EmpruntService/listerNonRendusResponse" message="tns:listerNonRendusResponse"/>
</operation>
<operation name="prolonger">
<input wsam:Action="http://services.webservice.ocp4.com/EmpruntService/prolongerRequest" message="tns:prolonger"/>
<output wsam:Action="http://services.webservice.ocp4.com/EmpruntService/prolongerResponse" message="tns:prolongerResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services.webservice.ocp4.com/EmpruntService/prolonger/Fault/ParseException"/>
</operation>
</portType>
<binding name="EmpruntServicePortBinding" type="tns:EmpruntService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="EnCoursPourExemplaire">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listerEnCoursParUsager">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listerNonRendusParUsager">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trouverEmprunt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="listerNonRendus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prolonger">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="EmpruntService">
<port name="EmpruntServicePort" binding="tns:EmpruntServicePortBinding">
<soap:address location="http://localhost:8085/bibliotheque-webservice/EmpruntService"/>
</port>
</service>
</definitions>