WSDL/OuvrageService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.webservice.ocp4.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.webservice.ocp4.com/" name="OuvrageService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.webservice.ocp4.com/" schemaLocation="http://localhost:8085/bibliotheque-webservice/OuvrageService?xsd=1"/>
</xsd:schema>
</types>
<message name="rechercherParTitreEtAuteur">
<part name="parameters" element="tns:rechercherParTitreEtAuteur"/>
</message>
<message name="rechercherParTitreEtAuteurResponse">
<part name="parameters" element="tns:rechercherParTitreEtAuteurResponse"/>
</message>
<message name="rechercherParAuteur">
<part name="parameters" element="tns:rechercherParAuteur"/>
</message>
<message name="rechercherParAuteurResponse">
<part name="parameters" element="tns:rechercherParAuteurResponse"/>
</message>
<message name="listeReservationsComplete">
<part name="parameters" element="tns:listeReservationsComplete"/>
</message>
<message name="listeReservationsCompleteResponse">
<part name="parameters" element="tns:listeReservationsCompleteResponse"/>
</message>
<message name="rechercherParTitre">
<part name="parameters" element="tns:rechercherParTitre"/>
</message>
<message name="rechercherParTitreResponse">
<part name="parameters" element="tns:rechercherParTitreResponse"/>
</message>
<message name="enCoursDEmprunt">
<part name="parameters" element="tns:enCoursDEmprunt"/>
</message>
<message name="enCoursDEmpruntResponse">
<part name="parameters" element="tns:enCoursDEmpruntResponse"/>
</message>
<message name="listerTout">
<part name="parameters" element="tns:listerTout"/>
</message>
<message name="listerToutResponse">
<part name="parameters" element="tns:listerToutResponse"/>
</message>
<message name="trouverOuvrage">
<part name="parameters" element="tns:trouverOuvrage"/>
</message>
<message name="trouverOuvrageResponse">
<part name="parameters" element="tns:trouverOuvrageResponse"/>
</message>
<portType name="OuvrageService">
<operation name="rechercherParTitreEtAuteur">
<input wsam:Action="http://services.webservice.ocp4.com/OuvrageService/rechercherParTitreEtAuteurRequest" message="tns:rechercherParTitreEtAuteur"/>
<output wsam:Action="http://services.webservice.ocp4.com/OuvrageService/rechercherParTitreEtAuteurResponse" message="tns:rechercherParTitreEtAuteurResponse"/>
</operation>
<operation name="rechercherParAuteur">
<input wsam:Action="http://services.webservice.ocp4.com/OuvrageService/rechercherParAuteurRequest" message="tns:rechercherParAuteur"/>
<output wsam:Action="http://services.webservice.ocp4.com/OuvrageService/rechercherParAuteurResponse" message="tns:rechercherParAuteurResponse"/>
</operation>
<operation name="listeReservationsComplete">
<input wsam:Action="http://services.webservice.ocp4.com/OuvrageService/listeReservationsCompleteRequest" message="tns:listeReservationsComplete"/>
<output wsam:Action="http://services.webservice.ocp4.com/OuvrageService/listeReservationsCompleteResponse" message="tns:listeReservationsCompleteResponse"/>
</operation>
<operation name="rechercherParTitre">
<input wsam:Action="http://services.webservice.ocp4.com/OuvrageService/rechercherParTitreRequest" message="tns:rechercherParTitre"/>
<output wsam:Action="http://services.webservice.ocp4.com/OuvrageService/rechercherParTitreResponse" message="tns:rechercherParTitreResponse"/>
</operation>
<operation name="enCoursDEmprunt">
<input wsam:Action="http://services.webservice.ocp4.com/OuvrageService/enCoursDEmpruntRequest" message="tns:enCoursDEmprunt"/>
<output wsam:Action="http://services.webservice.ocp4.com/OuvrageService/enCoursDEmpruntResponse" message="tns:enCoursDEmpruntResponse"/>
</operation>
<operation name="listerTout">
<input wsam:Action="http://services.webservice.ocp4.com/OuvrageService/listerToutRequest" message="tns:listerTout"/>
<output wsam:Action="http://services.webservice.ocp4.com/OuvrageService/listerToutResponse" message="tns:listerToutResponse"/>
</operation>
<operation name="trouverOuvrage">
<input wsam:Action="http://services.webservice.ocp4.com/OuvrageService/trouverOuvrageRequest" message="tns:trouverOuvrage"/>
<output wsam:Action="http://services.webservice.ocp4.com/OuvrageService/trouverOuvrageResponse" message="tns:trouverOuvrageResponse"/>
</operation>
</portType>
<binding name="OuvrageServicePortBinding" type="tns:OuvrageService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="rechercherParTitreEtAuteur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rechercherParAuteur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listeReservationsComplete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rechercherParTitre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enCoursDEmprunt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listerTout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trouverOuvrage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OuvrageService">
<port name="OuvrageServicePort" binding="tns:OuvrageServicePortBinding">
<soap:address location="http://localhost:8085/bibliotheque-webservice/OuvrageService"/>
</port>
</service>
</definitions>