WSDL/ReservationService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.webservice.ocp4.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.webservice.ocp4.com/" name="ReservationService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.webservice.ocp4.com/" schemaLocation="http://localhost:8085/bibliotheque-webservice/ReservationService?xsd=1"/>
</xsd:schema>
</types>
<message name="enumererParOuvrage">
<part name="parameters" element="tns:enumererParOuvrage"/>
</message>
<message name="enumererParOuvrageResponse">
<part name="parameters" element="tns:enumererParOuvrageResponse"/>
</message>
<message name="ajouterTSMailEnvoye">
<part name="parameters" element="tns:ajouterTSMailEnvoye"/>
</message>
<message name="ajouterTSMailEnvoyeResponse">
<part name="parameters" element="tns:ajouterTSMailEnvoyeResponse"/>
</message>
<message name="listerDelaiDepasse">
<part name="parameters" element="tns:listerDelaiDepasse"/>
</message>
<message name="listerDelaiDepasseResponse">
<part name="parameters" element="tns:listerDelaiDepasseResponse"/>
</message>
<message name="listerPourChaqueOuvragePremierePosition">
<part name="parameters" element="tns:listerPourChaqueOuvragePremierePosition"/>
</message>
<message name="listerPourChaqueOuvragePremierePositionResponse">
<part name="parameters" element="tns:listerPourChaqueOuvragePremierePositionResponse"/>
</message>
<message name="listerTout">
<part name="parameters" element="tns:listerTout"/>
</message>
<message name="listerToutResponse">
<part name="parameters" element="tns:listerToutResponse"/>
</message>
<message name="ajouter">
<part name="parameters" element="tns:ajouter"/>
</message>
<message name="ajouterResponse">
<part name="parameters" element="tns:ajouterResponse"/>
</message>
<message name="supprimer">
<part name="parameters" element="tns:supprimer"/>
</message>
<message name="supprimerResponse">
<part name="parameters" element="tns:supprimerResponse"/>
</message>
<message name="listerParUsager">
<part name="parameters" element="tns:listerParUsager"/>
</message>
<message name="listerParUsagerResponse">
<part name="parameters" element="tns:listerParUsagerResponse"/>
</message>
<portType name="ReservationService">
<operation name="enumererParOuvrage">
<input wsam:Action="http://services.webservice.ocp4.com/ReservationService/enumererParOuvrageRequest" message="tns:enumererParOuvrage"/>
<output wsam:Action="http://services.webservice.ocp4.com/ReservationService/enumererParOuvrageResponse" message="tns:enumererParOuvrageResponse"/>
</operation>
<operation name="ajouterTSMailEnvoye">
<input wsam:Action="http://services.webservice.ocp4.com/ReservationService/ajouterTSMailEnvoyeRequest" message="tns:ajouterTSMailEnvoye"/>
<output wsam:Action="http://services.webservice.ocp4.com/ReservationService/ajouterTSMailEnvoyeResponse" message="tns:ajouterTSMailEnvoyeResponse"/>
</operation>
<operation name="listerDelaiDepasse">
<input wsam:Action="http://services.webservice.ocp4.com/ReservationService/listerDelaiDepasseRequest" message="tns:listerDelaiDepasse"/>
<output wsam:Action="http://services.webservice.ocp4.com/ReservationService/listerDelaiDepasseResponse" message="tns:listerDelaiDepasseResponse"/>
</operation>
<operation name="listerPourChaqueOuvragePremierePosition">
<input wsam:Action="http://services.webservice.ocp4.com/ReservationService/listerPourChaqueOuvragePremierePositionRequest" message="tns:listerPourChaqueOuvragePremierePosition"/>
<output wsam:Action="http://services.webservice.ocp4.com/ReservationService/listerPourChaqueOuvragePremierePositionResponse" message="tns:listerPourChaqueOuvragePremierePositionResponse"/>
</operation>
<operation name="listerTout">
<input wsam:Action="http://services.webservice.ocp4.com/ReservationService/listerToutRequest" message="tns:listerTout"/>
<output wsam:Action="http://services.webservice.ocp4.com/ReservationService/listerToutResponse" message="tns:listerToutResponse"/>
</operation>
<operation name="ajouter">
<input wsam:Action="http://services.webservice.ocp4.com/ReservationService/ajouterRequest" message="tns:ajouter"/>
<output wsam:Action="http://services.webservice.ocp4.com/ReservationService/ajouterResponse" message="tns:ajouterResponse"/>
</operation>
<operation name="supprimer">
<input wsam:Action="http://services.webservice.ocp4.com/ReservationService/supprimerRequest" message="tns:supprimer"/>
<output wsam:Action="http://services.webservice.ocp4.com/ReservationService/supprimerResponse" message="tns:supprimerResponse"/>
</operation>
<operation name="listerParUsager">
<input wsam:Action="http://services.webservice.ocp4.com/ReservationService/listerParUsagerRequest" message="tns:listerParUsager"/>
<output wsam:Action="http://services.webservice.ocp4.com/ReservationService/listerParUsagerResponse" message="tns:listerParUsagerResponse"/>
</operation>
</portType>
<binding name="ReservationServicePortBinding" type="tns:ReservationService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="enumererParOuvrage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ajouterTSMailEnvoye">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listerDelaiDepasse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listerPourChaqueOuvragePremierePosition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listerTout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ajouter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="supprimer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listerParUsager">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReservationService">
<port name="ReservationServicePort" binding="tns:ReservationServicePortBinding">
<soap:address location="http://localhost:8085/bibliotheque-webservice/ReservationService"/>
</port>
</service>
</definitions>