WSDL/UsagerService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.webservice.ocp4.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.webservice.ocp4.com/" name="UsagerService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.webservice.ocp4.com/" schemaLocation="http://localhost:8085/bibliotheque-webservice/UsagerService?xsd=1"/>
</xsd:schema>
</types>
<message name="listerParOptionRappel">
<part name="parameters" element="tns:listerParOptionRappel"/>
</message>
<message name="listerParOptionRappelResponse">
<part name="parameters" element="tns:listerParOptionRappelResponse"/>
</message>
<message name="modifierOptionRappel">
<part name="parameters" element="tns:modifierOptionRappel"/>
</message>
<message name="modifierOptionRappelResponse">
<part name="parameters" element="tns:modifierOptionRappelResponse"/>
</message>
<message name="trouverUsager">
<part name="parameters" element="tns:trouverUsager"/>
</message>
<message name="trouverUsagerResponse">
<part name="parameters" element="tns:trouverUsagerResponse"/>
</message>
<portType name="UsagerService">
<operation name="listerParOptionRappel">
<input wsam:Action="http://services.webservice.ocp4.com/UsagerService/listerParOptionRappelRequest" message="tns:listerParOptionRappel"/>
<output wsam:Action="http://services.webservice.ocp4.com/UsagerService/listerParOptionRappelResponse" message="tns:listerParOptionRappelResponse"/>
</operation>
<operation name="modifierOptionRappel">
<input wsam:Action="http://services.webservice.ocp4.com/UsagerService/modifierOptionRappelRequest" message="tns:modifierOptionRappel"/>
<output wsam:Action="http://services.webservice.ocp4.com/UsagerService/modifierOptionRappelResponse" message="tns:modifierOptionRappelResponse"/>
</operation>
<operation name="trouverUsager">
<input wsam:Action="http://services.webservice.ocp4.com/UsagerService/trouverUsagerRequest" message="tns:trouverUsager"/>
<output wsam:Action="http://services.webservice.ocp4.com/UsagerService/trouverUsagerResponse" message="tns:trouverUsagerResponse"/>
</operation>
</portType>
<binding name="UsagerServicePortBinding" type="tns:UsagerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listerParOptionRappel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modifierOptionRappel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trouverUsager">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsagerService">
<port name="UsagerServicePort" binding="tns:UsagerServicePortBinding">
<soap:address location="http://localhost:8085/bibliotheque-webservice/UsagerService"/>
</port>
</service>
</definitions>